
{% for player in players %}
    <div id="player{{ forloop.counter }}">
        <div class="team_view card">
            <img src="{{ player.player__profile_picture_url }}"
                 class="rounded mx-auto d-block"
                 alt="Player image"/>
            <div class="card-body">
                <p class="card-text">{{ player.player__full_name }}</p>
                <p class="card-text">
                        <button id="delete-player-button_{{player.player__id}}"
                                hx-delete="{% url 'football-team' %}"
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                hx-swap="none">
                            Remove from team
                        </button>
                </p>
            </div>
        </div>
    </div>
{% endfor %}
