

#search-results {
    padding-top: 1rem;
}

#search_results_content {
    width: 33%;
    border-radius: 5px;
    border: 2px solid transparent;
    display: grid;
    grid-template-columns: 30px 1fr 120px;
    gap: 10px;
}

#search_result_player_image {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_result_player_name {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
}

#search_result_button {
    grid-column: 3;
    grid-row: 1;
}

#player_name_form {
    width: 33%;
}

.player_validation_photo {
    height: fit-content;
}

body>footer>div>div>div:nth-child(2)>a:nth-child(n) {
    text-decoration: none;
}