{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container'>
<div class="jumbotron">
  <h1 class="display-4">Welcome to Footy World XI Validator</h1>
  <p class="lead">The intention of this app is to be a validator for a little game that was started on Twitter:</p>
  <div class="d-flex justify-content-center">
  <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Inspired by <a href="https://twitter.com/Carra23?ref_src=twsrc%5Etfw">@Carra23</a>, quote this with your picks for the greatest World XI under these the rules:<br> <br>• No two players from the same country<br>• No two can have played for the same club<br>• All eleven have to have played in your lifetime</p>&mdash; MUNDIAL (H) (@MundialMag) <a href="https://twitter.com/MundialMag/status/1250080258122022915?ref_src=twsrc%5Etfw">April 14, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <hr class="my-4">
  <p>Go ahead and submit your World XI and see if it meets the criteria or not 😊</p>
</div>
{% crispy formset helper %}
</div>
{% endblock content %}