{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Footy World XI Validator</h1>
      <p class="lead">The intention of this app is to be a validator for a little game that was started on Twitter:</p>
      {% include "twitter.html" %}
      <hr class="my-4"/>
      <p>Go ahead and submit your World XI and see if it meets the criteria or not 😊</p>
    </div>
    <!-- Modal -->
    <div class="modal fade"
         id="resultsModal"
         tabindex="-1"
         aria-labelledby="resultsModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="resultsModalLabel">Results</h1>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="validation_results">
              <div id="indicator htmx-indicator" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-lg btn-primary mt-5 w-100"
                    data-bs-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>
    {% component "player_search" %}
    {% if players.count > 1 %}
      <div id="submit_validation">
        <form>
          {% csrf_token %}
          <button type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#resultsModal"
                  hx-post="{% url 'submit-team-view' %}"
                  hx-target="#validation_results">
            Validate team
          </button>
        </form>
      </div>
    {% endif %}
    <div id="indicator" class="loader htmx-indicator"></div>
    {% component_block "team_view" %}
      {% slot body %}
        <div id="players"
        hx-get="{% url 'football-team' %}"
        hx-trigger="load, football-team-updated from:body"
        hx-target="this"
        hx-swap="innerHTML"
        hx-indicator="#indicator"
        ></div>
      {% endslot %}
    {% endcomponent_block %}
</div>
{% endblock content %}
