<div class="d-flex justify-content-center">
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        Inspired by <a href="https://twitter.com/Carra23?ref_src=twsrc%5Etfw">@Carra23</a>, quote this with your picks for the greatest World XI under these the rules:
        <br/>
        <br/>
        • No two players from the same country
        <br/>
        • No two can have played for the same club
        <br/>
        • All eleven have to have played in your lifetime
      </p>
      MUNDIAL (H) (@MundialMag) <a href="https://twitter.com/MundialMag/status/1250080258122022915?ref_src=twsrc%5Etfw">April 14, 2020</a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>