<div class="modal fade"
     id="resultsModal"
     tabindex="-1"
     aria-labelledby="resultsModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="resultsModalLabel">Results</h1>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="validation_results">
          <div id="indicator htmx-indicator" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-lg btn-primary mt-5 w-100"
                data-bs-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>
